
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.register-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 10% solid #ccc;
    border-radius: 10px;
}
.register-form input {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.register-form button {
    width: 100%;
    padding: 3%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.register-form button:hover {
    background-color: #45a049;
}

.responsive {
    width: 100%;
    height: auto;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* Centers the circle horizontally */
  }